extends ./layout/index

block slider
  .slider
    h1 Rio de Janeiro
    em aventura
block contenido
  main.container.mt-5
    h2.text-center.mb-5 Sobre nosotros
    .row.mb-5
      .col-md-6
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta ipsa sed excepturi itaque necessitatibus ullam delectus at? Assumenda veniam sequi id modi amet vel harum, unde accusantium! Et, ipsum sint?
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis, labore tempore. Blanditiis doloribus quam corporis molestias, atque quo nisi repellendus nostrum nobis adipisci nemo quis officia ipsam deserunt qui asperiores?
      .col-md-6
        img(src="/img/inicio_nosotros.jpg", alt="Restaurante al aire libre", class="img-fluid")
    include ./layout/bloque_viajes
  .descuento
    .container
      .row
        .col-md-6
          .contenido
            h3 5% de descuento
            p.titulo Viaje a Canadá
            p.fecha 20 de Marzo de 2023 - 28 de Marzo de 2023
            p.precio $2,500
  .container
    h2.mt-5.text-center Testimoniales
    include ./layout/bloque_testimoniales